.home_banner_img{
    width: 100%;
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    margin-bottom: -100px;
}

.home_products1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home_module{
    background-color: #E6E6E3;
  
}
@media only screen and (max-width:980px){
    .home_products{
        display: flex;
        flex-direction: column;
    }
}